<!-- PRIVATE -->

<template name="postsList">

 
<section id="portfolio" style="background:#33ADFF">

    <div  class="wellnessIndex">
      <h1 class="section-heading" style="color:#fff">
          You have completed {{numPosts}} challenges!
      </h1>

      <h4 class="section-heading" style="color:#fff;font-size:15px;font-weight:lighter">
          <p font-style="bold"> "Let they who would move the world, first move themselves" - Socrates </p>
          <a style="font-size:18px" href="/addChallenge" class="btn btn-primary">Click Here To complete more challenges! </a>
      </h4>
    </div>

   <!--  <div id="container2" style="min-width: 310px; height: 400px; max-width: 600px; float:left; margin: 0 auto"></div>  
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; float:right; width: 50%; margin: 0 auto"></div>
   -->
    <div id="container2" style="height: 400px; float:left; width: 50%;"></div>  
    <div id="container" style="height: 400px; float:right; width: 50%"></div>
    <br>
<!--     <div id="wrapper1">
        <div id="columns1"> -->
            {{#each postsWithRank}}
              {{#if ownPost}} 
                {{> postItem}}
              {{/if}} 
            {{/each}}
            
            {{#if nextPath}}
            <a class="load-more" href="{{nextPath}}">Load more</a>
            {{else}}
              {{#unless ready}}
                {{> spinner}}
              {{/unless}}
            {{/if}}
     <!--    </div>
    </div> -->
</section>
 

<script>

$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false   
        },
        title: {
            text: 'Your Challenges by Category'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
         credits: {
           enabled: false
       },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: '',
            data: [
    
                {
                    name: 'Relationships',
                    y: 45,
                    sliced: true,
                    selected: true
                },
                ['Health',    30],
                ['Aspiration',     25]
            ]
        }]
    });
});

</script>

<script>
$(function () {
    $('#container2').highcharts({
        chart: {
            type: 'areaspline'
        },
        title: {
            text: 'Challenge History'
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 150,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: '#FFFFFF'
            // backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        xAxis: {
            categories: [
                'Monday',
                'Tuesday',
                'Wednesday',
                'Thursday',
                'Friday',
                'Saturday',
                'Sunday'
            ],
            plotBands: [{ // visualize the weekend
                from: 4.5,
                to: 6.5,
                color: 'rgba(68, 170, 213, .2)'
            }]
        },
        yAxis: {
            title: {
                text: 'Number of Completed Challenges'
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ' units'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            areaspline: {
                fillOpacity: 0.5
            }
        },
        series: [{
            name: 'One Challenge A Day',
            data: [1, 2, 3, 4, 5, 6, 7]
        }, {
            name: 'Your Challenge History',
            data: [0,2,2,4,5,7,9]
        }]
    });
});
</script>
    

</template>
