<!-- PUBLIC -->

<template name="publicPostList">

   <section id="portfolio" style="background:#33ADFF">


  <div  class="wellnessIndex">
    <!--  <p style="font-size:4.5ex"> -->
    <h1 class="section-heading" style="color:#fff">
          Posts from Our Community 
      </h1>

      <h4 class="section-heading" style="color:#fff;font-size:15px;font-weight:lighter">
        <a style="font-size:18px" href="/addChallenge" class="btn-warning">Click Here</a> to complete your own challenge!
      </h4>
  </div>

  <div class="posts" style="border:none">
    
      <!-- {{#if ownPost}} -->
      {{#each posts}}
        {{> postItem}}
      {{/each}}
      <!-- {{/if}} -->
 
    
    {{#if nextPath}}
      <a class="load-more" href="{{nextPath}}">Load more</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}
  </div>
</section>
</template>
